.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  margin-right: 7px;
}

.copyright__link {
  width: 34px;
  height: 40px;
  background-image: url(../img/htmlacademy.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  .copyright {
    margin-top: -5px;
  }
}
