.features-sub-list {
  padding: 35px 40px 37px 70px;

  text-align: left;
}

@media (min-width: 768px) {
  .features-sub-list {
    display: flex;
    justify-content: space-around;
    padding: 160px 0 35px;

    text-align: center;
  }

  .features-sub-list__item {
    width: 256px;
    padding: 0 50px;
    box-sizing: border-box;
  }

  .features-sub-list__item:nth-child(2) {
    padding: 0 40px;

    order: 1;
  }
}

@media (min-width: 1200px) {
  .features-sub-list {
    padding-bottom: 55px;
  }

  .features-sub-list__item {
    width: 400px;
  }

  .features-sub-list__item:nth-child(2) {
    padding: 0 90px;
  }
}

.features-sub-list__title {
  position: relative;

  margin: 0;
  margin-bottom: 15px;

  font-size: 18px;
  line-height: 26px;

  &::before {
    content: '';

    margin-right: 12px;

    position: absolute;
    left: -48px;
    top: -10px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &--icon-house::before {
    width: 39px;
    height: 37px;

    background-image: url(../img/icon-house.svg);
  }

  &--icon-gift::before {
    width: 32px;
    height: 38px;

    left: -46px;

    background-image: url(../img/icon-gift.svg);
  }

  &--icon-burger::before {
    width: 40px;
    height: 35px;

    top: -5px;
    left: -52px;

    background-image: url(../img/icon-burger.svg);
  }
}

@media (min-width: 768px) {
  .features-sub-list__title {
    margin-bottom: 20px;

    font-size: 21px;

    &::before {
      top: -99px;
      left: 50%;

      transform: translateX(-50%);
    }

  &--icon-house::before {
    width: 75px;
    height: 72px;
  }

  &--icon-gift::before {
    width: 64px;
    height: 75px;
  }

  &--icon-burger::before {
    width: 77px;
    height: 68px;
  }
  }
}

.features-sub-list__text {
  margin: 0;
  margin-bottom: 27px;

  color: #333333;
}

.features-sub-list__item:last-child .features-sub-list__text {
  margin-bottom: 0;
}

.features-sub-list__text-break {
  display: none;
}

@media (min-width: 1200px) {
  .features-sub-list__text-break {
    display: initial;
  }
}
