.find-map {
  padding-top: 25px;
  margin-bottom: -2px;

  text-align: center;
}

.find-map__title,
.find-map__description {
  margin: 0;
}

.find-map__title {
  margin-bottom: 20px;

  font-size: 21px;
  line-height: 26px;
}

.find-map__description {
  padding: 0 25px;
  margin-bottom: 37px;

  font-size: 14px;
  line-height: 24px;
}

.find-map__break {
  display: none;
}

@media (min-width: 768px) {
  .find-map {
    padding-top: 55px;
    margin-bottom: 0;
  }

  .find-map__title {
    margin-bottom: 33px;

    font-size: 30px;
  }

  .find-map__description {
    padding: 0 165px;
    margin-bottom: 41px;
  }

  .find-map__break {
    display: block;
  }
}

@media (min-width: 1200px) {
  .find-map {
    padding-top: 53px;
  }

  .find-map__title {
    margin-bottom: 31px;
  }

  .find-map__description {
    padding: 0 380px;
    margin-bottom: 47px;
  }
}

.find-map__google-maps {
  width: 100%;
  border: none;
}
