.find-map {
  padding-top: 30px;
  text-align: center;
}

.find-map__title,
.find-map__description {
  margin: 0;
}

.find-map__title {
  margin-bottom: 25px;

  font-size: 21px;
  line-height: 26px;
}

.find-map__description {
  padding: 0 30px;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 24px;
}

.find-map__link {
  display: block;
  width: calc(100% - 40px);
  margin: 0 20px 50px;
  padding: 16px 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;

  background-color: #81b3d2;
}

.find-map__google-maps {
  border: none;
}
