.input-field {
  position: relative;
}

.input-field:first-of-type {
  margin-top: -2px;
  margin-bottom: 14px;
}

@media (min-width: 768px) {
  .input-field:nth-child(n+2) {
    margin-bottom: 24px;
  }
}

@media (min-width: 1200px) {
  .input-field {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  }

  .input-field__hide {
    display: none;
  }

  .input-field:first-of-type {
    margin-top: 0;
  }

  .input-field:nth-child(n) {
    margin-bottom: 24px;
  }
}

.input-field label {
  display: block;
  margin-bottom: 6px;
  margin-left: 22px;
}

@media (min-width: 1200px) {
  .input-field label {
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 17px;
  }
}

.input-field__icon {
  position: absolute;
  bottom: 0;
  right: 0;

  display: block;
  width: 58px;
  height: 58px;

  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-position: center;
}

.input-field__icon--phone {
  background-image: url(../img/icon-phone.svg);
}

.input-field__icon--mail {
  background-image: url(../img/icon-mail.svg);
}

@media (min-width: 1200px) {
  .input-field__icon {
    top: 0;
    bottom: auto;
  }
}
