.main-nav {
  position: relative;

  padding-bottom: 56px;

  background-color: #ffffff;
}

@media (min-width: 768px) {
  .main-nav {
    padding-bottom: 0;
  }
}

.main-nav__logo {
  position: absolute;
  left: 50%;
  bottom: -28px;
  z-index: 1;

  transform: translateX(-50%);
}

.main-nav__logo-image {
  display: block;
}

@media (min-width: 1200px) {
  .main-nav__logo {
    bottom: -41px;
  }

  .main-nav__logo-image {
    width: 188px;
    height: auto;
  }
}

.main-nav__button {
  position: absolute;
  top: 14px;
  right: 17px;

  width: 28px;
  height: 28px;
  padding: 0;
  border: none;

  transform: rotate(45deg);

  background-color: transparent;
  background-image:
    linear-gradient(transparent 12px, white 12px, white 16px, transparent 16px),
    linear-gradient(to right, transparent 12px, white 12px, white 16px, transparent 16px);
}

.main-nav__toggler:checked ~ .main-nav__button {
  width: 23px;
  height: 22px;

  transform: rotate(0);

  background-image: linear-gradient(#81b3d2 4px, transparent 4px, transparent 9px, #81b3d2 9px, #81b3d2 13px, transparent 13px, transparent 18px, #81b3d2 18px);
}

.main-nav__toggler {
  position: absolute;
  top: 14px;
  right: 17px;
  z-index: 2;

  width: 27px;
  height: 27px;
  border: none;
  outline: none;

  opacity: 0;
}

@media (min-width: 768px) {
  .main-nav__toggler,
  .main-nav__button {
    display: none;
  }
}

.main-nav__toggler:active,
.main-nav__toggler:focus {
  outline: none;
}

.main-nav__toggler:checked ~ .main-nav__list {
  display: none;
}

@media (min-width: 768px) {
  .main-nav__toggler:checked ~ .main-nav__list {
    display: block;
  }
}

.main-nav__list {
  list-style: none;

  padding: 0;
  margin: 0;

  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .main-nav__list {
    display: flex;

    background-color: #ffffff;
  }
}

.main-nav__list-link {
  display: block;
  padding: 7px 0;

  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  color: #ffffff;
  background-color: #81b3d2;
}

.main-nav__list-item:last-child .main-nav__list-link {
  background-image: linear-gradient(to top, #6c96b0, #81b3d2 6px);
}

.main-nav__list-item:last-child .main-nav__list-link:hover {
  background-image: linear-gradient(to top, #6c96b0, #669ec0 6px);
}

.main-nav__list-item:last-child .main-nav__list-link:active {
  background-image: linear-gradient(to top, #6c96b0, #5496bd 6px);
}

.main-nav__list-link:hover {
  background-color: #669ec0;
}

.main-nav__list-link:active {
  background-color: #5496bd;
}

@media (min-width: 768px) {
  .main-nav__list-link {
    display: inline-block;
    border: none;

    padding: 15px 0 15px 0;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    background-color: transparent;
  }

  .main-nav__list-link:hover {
    color: #81b3d2;
    background-color: transparent;
  }

  .main-nav__list-link:active {
    background-color: transparent;
    color: #000000;
    opacity: 0.3;
  }

  .main-nav__list-item--active a {
    color: #766357;
    cursor: default;
  }

  .main-nav__list-item--active a:hover {
    color: #604e43;
  }

  .main-nav__list-item--active a:active {
    color: #766357;
    opacity: 0.3;
  }

  .main-nav__list-item:last-child .main-nav__list-link {
    background-image: none;
  }

  .main-nav__list-item:last-child .main-nav__list-link:hover {
    background-image: none;
  }
}

.main-nav__list-item:not(:last-child) {
  border-bottom: 1px solid #678fa8;
}

.main-nav__list-item:not(:first-child) {
  border-top: 1px solid #9ac2db;
}

.main-nav__list-item:not(:first-child):hover {
  border-top-color: #86b2cd;
}

.main-nav__list-item:not(:first-child):active {
  border-top-color: #77acca;
}

@media (min-width: 768px) {
  .main-nav .main-nav__list-item {
    width: 153px;
    border: none;

    background-image: none;
  }

  .main-nav__list-item:nth-child(2) {
    margin-right: auto;
  }
}

@media (min-width: 1200px) {
  .main-nav .main-nav__list-item {
    width: 239px;
  }
}
