.page-footer {
  box-sizing: border-box;
  padding: 30px 0 23px;

  text-align: center;
}

@media (min-width: 768px) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 60px;
  }
}

@media (min-width: 1200px) {
  .page-footer {
    padding: 36px 120px;
  }
}

.page-footer__hashtag {
  display: block;
  margin-bottom: 30px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .page-footer__hashtag {
    margin-bottom: 0;
  }
}
