.photo-gallery {
  text-align: center;
}

.sedona-text {
  padding: 52px 0 67px 0;

  background-image: url('../img/bg-back-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
}

.photo-gallery__title {
  margin: 0;
  margin-bottom: 30px;

  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.photo-gallery__text {
  margin: 0;
  padding: 0 20px 30px;
  border-bottom: 1px solid #e5e5e5;

  line-height: 24px;
  color: #333333;
}

.photo-gallery__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.photo-gallery__list-item {
  padding: 20px 0;
  border-bottom: 1px solid #e5e5e5;
}

.photo__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.photo__description {
  padding: 0 20px;

  text-align: left;
  line-height: 24px;
}

.photo__title,
.photo__author {
  margin: 0;
}

.photo__title {
  font-weight: bold;
}

.photo__author {
  text-transform: initial;
  color: #333333;
}

.thumb-up__btn {
  width: 23px;
  height: 21px;
  margin-right: 15px;
  border: none;

  background-color: transparent;
  background-image: url('../../img/icon-like.svg');
  background-size: contain;

  cursor: pointer;
  vertical-align: text-bottom;
}

.thumb-up__count {
  line-height: 24px;
  font-weight: bold;
}
