.sedona-promo {
  padding: 52px 0 67px 0;
  margin-bottom: 40px;

  background-image: url('../img/bg-back-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;

  text-align: center;
}

.sedona-promo--main {
  background-position: center top;
  padding: 90px 0 85px 0;
}

@media (min-width: 768px) {
  .sedona-promo {
    padding: 95px 0 117px 0;
  }

  .sedona-promo--main {
    padding: 77px 0 91px 0;
  }
}

@media (min-width: 1200px) {
  .sedona-promo {
    padding: 101px 0 120px 0;
  }
}
