.video__lead {
  margin: 35px 0;

  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.video__description {
  margin: 0;
  margin-bottom: 40px;
  padding: 0 40px;

  line-height: 24px;
  color: #333333;
}

@media (min-width: 768px) {
  .video__lead {
    margin-top: 60px;

    font-size: 30px;
  }

  .video__description {
    margin-bottom: 75px;
    padding: 0 115px;
  }
}

@media (min-width: 1200px) {
  .video__lead {
    margin-top: 65px;
  }

  .video__description {
    padding: 0 390px;
  }
}
