@media (min-width: 1200px) {
  .video-player {
    width: 800px;
    margin: 0 auto;
  }
}

.video-player__image {
  display: block;
}

@media (min-width: 768px) {
  .video-player__image {
    width: 100%;//Временно для сетки
    height: 500px;//Временно для сетки
  }
}

.video-player__controls {
  width: 280px;
  margin: 0 auto;
  margin-top: -45px;

  position: relative;
}

.video-player__controls-wrapper:first-child {
  position: relative;

  height: 45px;

  background-color: rgba(0, 0, 0, 0.4);
}

.video-player__controls-wrapper:last-child {
  display: flex;
  padding: 13px 23px;

  background-color: #f2f2f2;
}

@media (min-width: 768px) {
  .video-player__controls {
    width: 100%;
    margin-top: -93px;
  }

  .video-player__controls-wrapper:first-child {
    height: 93px;
  }

  .video-player__controls-wrapper:last-child {
    position: absolute;
    top: 25px;
    left: 0;

    width: 648px;
    padding: 0;

    background-color: transparent;
  }
}

@media (min-width: 1200px) {
  .video-player__controls-wrapper:last-child {
    width: 800px;
  }
}

.video-player__controls-track {
  position: absolute;
  top: 50%;
  left: 22px;
  transform: translateY(-50%);

  width: 235px;
  height: 3px;

  background-color: rgba(255, 255, 255, 0.2);
}

.video-player__controls-thumb {
  position: absolute;
  top: 50%;
  left: 58px;
  transform: translateY(-50%);

  width: 9px;
  height: 9px;
  border-radius: 50%;

  background-color: #ffffff;
}

@media (min-width: 768px) {
  .video-player__controls-track {
    width: 389px;

    left: 93px;
  }

  .video-player__controls-thumb {
    left: 206px;
  }
}

@media (min-width: 1200px) {
  .video-player__controls-track {
    width: 540px;
  }
}

.video-player__controls-replay,
.video-player__controls-subtitles,
.video-player__controls-fullscreen {
  height: 40px;

  background-repeat: no-repeat;
  background-position: center;
}

.video-player__controls-replay {
  width: 16px;
  margin-right: auto;

  background-image: url(../img/icon-video-replay.svg);
}

.video-player__controls-subtitles {
  width: 32px;
  margin-right: 30px;

  background-image: url(../img/icon-video-subtitles.svg);
}

.video-player__controls-fullscreen {
  width: 20px;

  background-image: url(../img/icon-video-fullscreen.svg);
}

@media (min-width: 768px) {
  .video-player__controls-replay {
    margin-left: 35px;

    background-image: url(../img/icon-video-replay-white.svg);
  }

  .video-player__controls-subtitles {
    margin-right: 31px;

    background-image: url(../img/icon-video-subtitles-white.svg);
  }

  .video-player__controls-fullscreen {
    margin-right: 41px;

    background-image: url(../img/icon-video-fullscreen-white.svg);
  }
}
